$background-color: #1A1A1A;

$primary: #21CBED !default;
$secondary: #5A5A5A !default;
$success: #27B06E !default;
$info: #0587E5 !default;
$warning: #F5B25B !default;
$danger: #F9645D !default;
$light: #FFFFFF !default;
$dark: #242424 !default;
