$input-group-addon-bg: $dark;
$input-group-addon-color: $light;
$input-bg: $background-color;
$input-color: $light;
$input-border-color: $secondary;

$input-focus-box-shadow: none;

$pagination-bg: $dark;
$pagination-border-color: $primary;
$pagination-color: $light;

$pagination-hover-color: $dark;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;

$pagination-active-color: $dark;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;

$pagination-disabled-color: $secondary;
$pagination-disabled-bg: $dark;
$pagination-disabled-border-color: $primary;

$pagination-focus-color: $dark;
$pagination-focus-bg: $primary;
$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;

$nav-pills-border-radius: 0;
$nav-link-color: rgba(255, 255, 255, 0.55);
$nav-link-hover-color: rgba(255, 255, 255, 0.75);
$nav-pills-link-active-bg: $dark;

$card-bg: $dark;
$card-border-color: $secondary;

$modal-content-color: $primary;
$modal-content-bg: $dark;
$modal-header-border-color: $primary;
$modal-footer-border-color: $primary;

$dropdown-bg: $dark;
$dropdown-color: $light;
$dropdown-link-color: $light;
$dropdown-link-hover-color: shade-color($light, 10%);
$dropdown-link-hover-bg: $secondary;
$dropdown-link-active-bg: $secondary;

$toast-header-color: $light;
$toast-header-background-color: $dark;
$toast-header-border-color: $primary;
$toast-background-color: $background-color;
$toast-border-color: $primary;

$list-group-bg: $dark;
$list-group-color: $light;
$list-group-active-bg: $dark;
$list-group-active-border-color: $primary;
$list-group-border-color: $secondary;
