body {
    background: #1a1a1a;
}

.bg-qot {
    background: #242424;
    color: #ffffff;
    border-bottom: 1px solid #09a4c6;
}

.alert-danger {
    background: rgb(67, 12, 17);
    border-color: rgb(106, 17, 26);
    color: #ffffff;
}

.card {
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.13);
    color: #ffffff;
}

.btn-primary {
    color: rgb(232, 230, 227);
    background-color: rgb(2, 80, 196);
    border-color: rgb(1, 71, 174);
}

.dropdown-menu {
    color: rgb(209, 205, 199);
    list-style-image: initial;
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.15);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(211, 207, 201);
    background-color: rgb(35, 38, 39);
}

.dropdown-item {
    color: #ffffff;
}
