* {
    overflow-anchor: none !important;
    -webkit-appearance: none !important;
}

html {
    scroll-behavior: smooth;
}

button, input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

body {
    background: rgba(26, 26, 26, 1);
}

a {
    color: #21cbed;
    text-decoration: none;
}

a:hover {
    color: #44dfff;
}

.bg-qot {
    background: #242424;
    color: #ffffff;
    border-bottom: 1px solid #21cbed;
}

.alert-danger {
    background: rgb(67, 12, 17);
    border-color: rgb(106, 17, 26);
    color: #ffffff;
}

.card {
    background-color: #242424;
    border-color: rgba(140, 130, 115, 0.13);
    color: #ffffff;
}

.card .card-header {
    text-align: center;
    font-size: 20px;
}

.card .card-footer {
    text-align: center;
}

.staff-header {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin: 30px 0 10px 0;
}

.btn-primary {
    color: rgb(232, 230, 227);
    background-color: rgb(2, 80, 196);
    border-color: rgb(1, 71, 174);
}

.dropdown-menu {
    color: rgb(209, 205, 199);
    list-style-image: initial;
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.15);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(211, 207, 201);
    background-color: rgb(35, 38, 39);
}

.dropdown-item {
    color: #ffffff;
}

#cover {
    width: 100%;
    background: url("/img/cover.jpg") center center;
    background-size: cover;
}

#cover .title {
    text-align: center;
    padding: 80px 0;
    color: #ffffff;
    font-size: 40px;
}

input, textarea, .form-check-input, select {
    background-color: #181818 !important;
    border: none !important;
    border-radius: 4px !important;
    transition: .5s !important;
    color: #ffffff !important;
}

#filters input::placeholder {
    color: #666;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #393939 !important;
    border-color: #393939 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white !important;
}

#prizes .first-place {
    border-top: 4px solid #fadd40;
}

#prizes .second-place {
    margin-top: 30px;
    border-top: 4px solid #D1D7DA;
}

#prizes .third-place {
    margin-top: 30px;
    border-top: 4px solid #DF7E06;
}

#prizes .medal {
    font-size: 100px;
    text-align: center;
    line-height: 1;
}

#prizes .list-group {
    margin-top: 20px;
}

#prizes .list-group .list-group-item {
    background: transparent !important;
    color: #ffffff;
    text-align: center;
    border-color: #ccc;
}

.table-schedule tr td {
    background: transparent !important;
    border: none;
}

.table-schedule tr td:first-child {
    text-align: right;
}

.table-schedule tr td:last-child {
    text-align: left;
}

.list-rules ol li {
    margin-bottom: 10px;
    font-size: 18px;
}

.table-qot tr td, .table-qot tr th {
    background: transparent;
}

.table-qot-mappool td {
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-right: 20px;*/
}

.table-delete {
    position: absolute;
    right: -70px;
    top: 0;
    padding: 20px 0 20px 0;
}

.page-link {
    background-color: rgb(24, 26, 27);
    border-color: rgb(56, 61, 63);
    color: rgb(35, 148, 253);
    text-decoration-color: initial;
}

.page-link:hover {
    background: rgb(35, 148, 253);
    border-color: rgb(56, 61, 63);
    color: #ffffff;
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: rgb(35, 148, 253);
    border-color: rgb(56, 61, 63);
}

.page-item.disabled .page-link {
    color: rgb(158, 150, 137);
    background-color: rgb(24, 26, 27);
    border-color: rgb(56, 61, 63);
}

.mapset {
    position: relative;
    background-size: cover;
    border-color: rgb(56, 61, 63);
}

.mapset-map {
    padding: 16px;
    color: white;
}

.mapset-info {
    background: #181818;
    bottom: 0;
}

.map .map-background {
    width: 100%;
    height: 200px;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.map img {
    max-width: 100%;
    height: 300px;
}

.map .table-dark tr th,
.map .table-dark tr td {
    background: transparent;
    border: none;
}

.map .table-dark tr th {
    text-align: right;
}

.map .table-dark tbody {
    border: none;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: 600;
}

@media (max-width: 991px) {
    .col-lg-5 {
        margin-top: 20px;
    }

    .row.mt-4 {
        margin-top: 5px !important;
    }
}

footer {
    color: #ffffff;
    margin-bottom: 20px;
}

.alert p {
    margin-bottom: 5px;
}

.alert-warning a {
    color: rgb(2, 80, 196);
    font-weight: 700;
}
