.btn-twitch {
    color: #FFFFFF;
    background-color: #6441a5;

    &:hover {
        color: #FFFFFF;
        background-color: #6f48b7;
    }
}

.btn-discord {
    color: #FFFFFF;
    background-color: #7289da;

    &:hover {
        color: #FFFFFF;
        background-color: #5470d2;
    }
}

.btn-youtube {
    color: #FFFFFF;
    background-color: #cd201f;

    &:hover {
        color: #FFFFFF;
        background: #de2827;
    }
}

.btn-twitter {
    color: #FFFFFF;
    background-color: #55acee;

    &:hover {
        color: #FFFFFF;
        background: #6cb7f0;
    }
}

.btn-spreadsheet {
    color: #FFFFFF;
    background-color: #188038;

    &:hover {
        color: #FFFFFF;
        background-color: #2a8947;
    }
}
